html {
  background: linear-gradient(to bottom right, #ce3c3f 30%, #170404 75%);
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(to bottom right, #ce3c3f 30%, #170404 75%);
  background-repeat: no-repeat;
}

.head {
  background: rgba(0, 0, 0, 0.64);
  height: 137px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 2;
}

.logo-place {
  height: 137px;
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.nav {
  text-decoration: none;
  position: relative;
  margin: 0 10px;
  padding: 50px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.nav:hover {
  transform: scale(110%);
}

.nav:hover::before {
  background-color: rgba(255, 255, 255, 0.17);
  filter: blur(20px);
}

.info {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

h1 {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  filter: drop-shadow(0px 0px 7px black);
}

.left-content {
  flex: 1;
  max-width: 50%;
}

p {
  margin: 20px;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.why {
  font-weight: 500;
  font-style: italic;
}

li {
  margin: 5px;
}

ul {
  margin: 20px;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 20px;
  font-weight: 400;
  list-style-type: disc;
  padding-left: 20px;
}

.info img {
  flex: 1;
  max-width: 35%;
  height: auto;
  border-radius: 20px;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.64);
}

footer > p {
  font-size: 14px;
  font-family: "Montserrat Alternates", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: center;
}
