html {
  height: 100%;
  background: linear-gradient(to bottom right, #ce3c3f 30%, #170404 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.head {
  background: rgba(0, 0, 0, 0.64);
  height: 137px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 2;
}

.menu-button {
  display: none;
}

.logo-place {
  height: 137px;
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.nav {
  text-decoration: none;
  position: relative;
  margin: 0 10px;
  padding: 50px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  transition: transform 0.5s ease;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: -1;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.nav:hover {
  transform: scale(110%);
}

.nav:hover::before {
  background-color: rgba(255, 255, 255, 0.17);
  filter: blur(20px);
}

main {
  display: flex;
  align-items: center;
  max-height: 100%;
  justify-content: space-between;
}

.text-block {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  width: 500px;
  margin-top: 100px;
  margin-left: 50px;
  white-space: nowrap;
}

.text-block h1 {
  font-size: 5vw;
  line-height: 1.2;
  font-weight: 600;
}

.text-block div {
  width: 40vw;
  margin: 10px auto 0 auto;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.text-block p {
  font-size: 1.5vw;
  font-weight: 300;
  font-style: italic;
  margin: 20px 0;
}

.text-block button {
  padding: 10px 30px;
  background-color: #d07e3d;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.5vw;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.1s;
}

.text-block button:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 20px #d07e3d;
}

.graphics-container {
  background-image: url("../pics/car.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 105vh;
  height: 100vh;
  position: relative;
  right: 0;
  z-index: -1;
  filter: drop-shadow(20px 0px 20px rgba(0, 0, 0, 0.608));
}

.graphics-vector {
  position: absolute;
  left: 20vh;
  background-image: url("../pics/road.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 100vh;
  z-index: -1;
}

@media (max-width: 1480px) {
  .graphics-vector {
    display: none;
  }
}

@media (min-height: 1100px) {
  .graphics-vector {
    display: none;
  }
}

@media (max-width: 1350px) {
  .head {
    height: 0px;
    padding: 0 10px;
  }

  .logo-place {
    display: none;
  }

  .menu-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 100;
    padding: 0;
  }

  .menu-button img {
    width: 4vw;
    height: 4vw;
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.64);
    width: 100%;
    z-index: 1;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    position: relative;
  }

  .nav {
    padding: 1.1vw;
    font-size: 90%;
  }

  .graphics-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .text-block div {
    width: 50vw;
  }

  .text-block {
    position: relative;
    z-index: 1;
    top: 20vh;
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }

  .text-block p,
  .text-block h1 {
    filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
  }

  .text-block h1 {
    font-size: 7vw;
  }

  .text-block p {
    font-size: 3vw;
  }

  .text-block button {
    font-size: 3vw;
  }
}
